[submodule "OCA/vertical-hotel"]
	path = OCA/vertical-hotel
	url = git@github.com:OCA/vertical-hotel.git
	branch = 14.0

[submodule "amirul-m/custom_addons"]
	path = amirul-m/custom_addons
	url = git@github.com:amirul-m/custom_addons.git
	branch = sharing

[submodule "ardianpramana/training_odoo_automation_test"]
	path = ardianpramana/training_odoo_automation_test
	url = git@github.com:ardianpramana/training_odoo_automation_test.git
	branch = master
